body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}


body > div > div {
  height: 100%;
}

#container {
  height: 100%;
}

#left {
  float: left;
  width: 300px;
}

#right {
  float: right;
  width: 300px;
}

#songframe {
  width: 300px;
  height: 380px;
}

.side {
  background-color: #1C1C1F;
}

.content {
  background-color: #121314;
  margin-left: auto;
  margin-right: auto;
}

#song-search {
  font-weight: bold;
  font-size: 1.2em;
  height: 55px;
  line-height: 55px;
  padding-left: 0.6em;
  padding: 4px 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #999999;
  border-style: solid;
  border-width: 1px;
  border: radius 5px;
  width: 80%;
}
